  
  
   <form [formGroup]="frm" (ngSubmit)="onSubmit()" autocomplete="off">
    <input formControlName="email" type="email" class="form-control" placeholder="Email" autocomplete="off">
    <input formControlName="password" type="password" class="form-control" placeholder="Password" autocomplete="off">
  <div>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>

<h2>{{user?.firsName}} {{user?.lastName}}</h2>
<div id="divMessages" class="messages">
</div>
<div class="roles" *ngIf="userList">
  <select id="to-user" [(ngModel)]="toUser">
    <option value="">Select User</option>
      <option *ngFor="let user of userList" [value]="user.id" >{{user?.firstName + user?.lastName}}</option>
  </select>
</div>
<div class="input-zone">
  <input id="tbMessage" class="input-zone-input" type="text" />
  <button id="btnSend" (click)="send()">Send</button>
</div>
